<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration page</title>
    </head>
    <body>
        <h1> Registration </h1>
        <!-- We need two fields, a username and password -->
        <form method="POST" action="/registration">
            <label for="emailField">Email:</label><br/>
            <input id="emailField" type="text" name="email"/><br/>
            <label for="passwordField">Password:</label><br/>
            <input id="passwordField" type="text" name="password"/><br/>
            <button type="submit">Registration</button>
        </form>
    </body>
</html>