<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Movies API </title>
    </head>
    <body>
        <h1> Welcome to the movies API </h1>
        <p> You will see the movies listed shortly! </p>
        <a href="/api/movies"> Take me to the movies </a>
        <a href="/api/movie/form"> Add a new movie </a>
    </body>
</html>