<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> New Movie</title>
    </head>
    <body>
        <h1> Add a new movie to the movie list </h1>
        <form action="/api/new/movie" method="POST">
            <div>
                <label for="title">
                    Title:
                </label>
                <input type="text" id="title" name="title">
            </div>
            <div>
                <label for="director">
                    Director:
                </label>
                <input type="text" id="director" name="director">
            </div>
            <button type="submit">
                Add movie
            </button>
        </form>
    </body>
</html>